__pycache__/
*.py[cod]
*$py.class

.git/
.gitignore
.dockerignore

.venv/
venv/
env/
ligandhub_env/

.vscode/
.idea/

logs/
output/
outputs/
tmp/
temp/
*.tmp
*.temp
*.log

*.ipynb
.ipynb_checkpoints/

*.zip
*.tar
*.tar.gz
*.tgz
*.sdf
*.mol2
*.pdb
*.pdbqt
*.dlg

README.assets/

pytest-cache-files-*/
.pytest_cache/
tmp_test/
